<nav>
    <a href="../index.html">CLT Homepage</a> |
    <a href="https://github.com/Jakiag">GitHub.com</a> |
    <a href="https://jakiag.github.io/">GitHub.io</a> |
    <a href="https://www.linkedin.com/in/jakia-gary-6414332ba/">LinkedIn</a> |
    <a href="https://www.freecodecamp.org/Jgary10">FreeCodeCamp</a> |
    <a href="https://www.codecademy.com/profiles/jgary10">Codeacademy</a> |
    
</nav>
<p>Page Built by <a href="https://joyfulgiraffe.com/">Joyful Giraffe Enterprises</a>&copy; 2025 </p>
<script src="https://lint.page/kit/4d0fe3.js" crossorigin="anonymous"></script>