<nav>
    <a href="../index.html">CLT Homepage</a> |
    <a href="https://github.com/Jakiag">GitHub.com</a> |
    <a href="https://jakiag.github.io/">GitHub.io</a> |
    <a href="https://www.linkedin.com/in/jakia-gary-6414332ba/">LinkedIn</a>
    <a href="https://www.freecodecamp.org/Jgary10">FreeCodeCamp</a>
    <a href="https://www.codecademy.com/profiles/jgary10">Codeacademy</a>
    
</nav>
<p>Page Built by <a href="https://joyfulgiraffe.com/">Joyful Giraffe Enterprises</a>&copy; 2025 </p>
<a href="https://validator.w3.org/check?uri=referer" id="validation-link-html">
    <img class="styled-image" src="image.jpg" alt="Image" src="https://jgary10.github.io/itis3135/z_archives/html_validation.png" alt="Valid HTML!">
</a>
<a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation-link-css">
    <img class="styled-image" src="image.jpg" alt="Image" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
</a>