 <h1>Jakia Gary Joyful Giraffe || ITIS3135</h1>
    <nav>
        <a href="./">Home</a>
        <a href="introduction.html">Introduction</a>
        <a href="contract.html">Contract</a>
        <a href="Whimsicalpage">WhimsicalPage</a>
        <a href="business.html">Business</a>
        <a href="hobby/">Pilates Pals</a>
        <a href="firstscripts.html">Forms</a>
        <a href="website_evaluations.html">Evaluations</a>
        <a href="gallery/slideshow.html">Slideshow</a>
        <a href="Projectoverview/">Client Overview</a>
        <a href="review1.html">Peerreview1</a>
        <a href="review2.html">Peerreview2</a>
        <a href="project_overview.html">Projectoverview</a>
        <a href="drawing.html">Drawing</a>
    </nav>

    <nav class="bad-nav">
        <a href="stuff/CRAPPY%20PAGE.html">Crappy Page</a>
    </nav>

    <script src="https://lint.page/kit/4d0fe3.js" crossorigin="anonymous"></script>
