 <h1>Jakia Gary Joyful Giraffe || ITIS3135</h1>
    <nav>
        <a href="./">Home</a>
        <a href="introduction.html">Introduction</a>
        <a href="contract.html">Contract</a>
        <a href="about.html">WhimsicalPage</a>
        <a href="business.html">Business</a>
        <a href="hobby/">Pilates Pals</a>
        <a href="firstscripts.html">Forms</a>
        <a href="website_evaluations.html">Scripts</a>
        <a href="slideshow.html">Slideshow</a>
    </nav>

    <nav class="bad-nav">
        <a href="stuff/CRAPPY%20PAGE.html">Crappy Page</a>
    </nav>

    <script src="https://lint.page/kit/4d0fe3.js" crossorigin="anonymous"></script>
